@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');
*{
  margin: 0px;
  padding: 0px;
  color: white;
  font-family: 'Sora', sans-serif;
  font-weight: 400;
}

body{
  display: grid;
  background-color: #343434;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: 
    "nav"
    "main"
    "footer";
}

.hodiny{
  display: none;
}

header{
  grid-area: nav;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-bar, .nav-bar li, .nav-bar li a, header, .hodiny, #cur-time, #funkce button{
  background-color: #0f0e0e;
}

.nav-bar{
  list-style: none;
}

.nav-bar li{
  padding: 10px;
  text-align: center;
}

.nav-bar li a{
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.nav-bar li a:hover{
  color: #5D3FD3;
}

.logo{
  display: none;
}

.div_galerie{
  grid-area: main;
}

.obrazky{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.obrazky img, .obrazky h1{
  padding: 10px;
}

.clanek{
  padding: 50px;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), transparent;
  border-radius: 50px;
  margin: 15px;
  grid-area: main;
  margin: 20px auto;
  width: 70%;
}

.clanek h1{
  text-align: center;
  padding-bottom: 5px;
}

.text{
  text-align: center;
}

.videos{
  width: 304px;
  height: 171px;
  float: left;
  border: 3px solid #fff;
  border-radius:10px;
}

.videosakos{
  display: flex;
  justify-content: center;
}

footer{
  grid-area: footer;
  text-align: center;
}

#javascript, .formulare{
  display: flex;
  grid-area: main;
  flex-wrap: wrap;
}

.formulare{
  justify-content: center;
}

#javascript{
  justify-content: space-evenly;
}

#funkce h1, #datumos{
  padding: 10px;
}

#funkce button, #gamesa button, .but{
  background-color: #0f0e0e;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  border: 0;
  border-radius: 10px;
}

#gamesa p, #gamesa input{
  padding: 10px;
  font-size: 18px;
}

#userInputGamesa{
  color: black;
}

#funkce{
  padding-bottom: 80px;
}

#gamesa, #funkce, .qrcode, .search, .dotaznik{
  padding: 20px;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), transparent;
  border-radius: 50px;
  margin: 15px;
  text-align: center;
  width: 450px;
  height: 450px;
  display: grid;
  justify-content: center;
}

#gamesa, #funkce{
  justify-content: space-around;
}

input, option, select, .but{
  margin: 8px;
  font-size: 22px;
  color: black;
}

label{
  font-size: 22px;
}

input.vdaEnjoyer{
  width: 15px;
  height: 15px;
}

.but{
  color: white;
}

iframe{
  border: 1px white solid;
  border-radius: 15px;
}

.searchos{
  width: 288px;
  height: 162px;
  margin: 0 auto;
}

.qrcodos{
  width: 250px;
  height: 250px;
  margin: 0 auto;
}

@media (max-width: 944px) and (min-width:500px){
  .nav-bar li a{
    font-size: 25px;
  }
}

@media (min-width: 947px) {
  
  body{
    grid-template-areas: 
    "hodiny"
    "nav"
    "main"
    "footer";
  }
  
  header{
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    flex-direction: row;
  }
  
  .nav-bar li{
    display: inline-block;
    padding: 0px 20px;
  }
  
  .obrazky{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .hodiny{
    display: flex;
    grid-area: hodiny;
    justify-content: center;
    font-size: 13px;
    padding-top: 10px;
  }

  .logo{
    display: inline-block;
  }

  #gamesa, #funkce, .dotaznik, .qrcode, .search{
    padding: 50px;
  }
  
  .searchos, .videos{
    width: 480px;
    height: 270px;
    margin-right: 15px;
  }

  .text{
    text-align: start;
  }

  .videosakos{
    display: block;
  }

}